//Bring the Variable here
script(type='text/javascript').
  (function() {
    // your page initialization code here
    // the DOM will be available here
    console.log('ArticleDescription: '+articleDescription)
  })();
.row
  - var x = 0
    while x < 3
      .col-lg-4
        img.rounded-circle(src='images/eshop.jpg', alt='Generic placeholder image', width='140', height='140')
        h2.head1 Temp Heading
        p.desc1 Temp Description
        a.btn.btn-secondary(href='#', role='button') View details
        -x++