<!-- FOOTER -->
footer
  p(class='float-right')
    a(href='#') Back to top
  p &copy; 2017 Company, Inc. &middot; 
    a(href='#') Privacy &middot;
    a(href='#') Terms

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
script(src='/bower_components/jquery/dist/jquery.js')
script(src='/bower_components/tether/dist/js/tether.js')
script(src='/bower_components/modernizr/modernizr.js')
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/plugins.js -->
script(src='/bower_components/bootstrap/js/dist/util.js')
script(src='/bower_components/bootstrap/js/dist/alert.js')
script(src='/bower_components/bootstrap/js/dist/button.js')
script(src='/bower_components/bootstrap/js/dist/carousel.js')
script(src='/bower_components/bootstrap/js/dist/collapse.js')
script(src='/bower_components/bootstrap/js/dist/dropdown.js')
script(src='/bower_components/bootstrap/js/dist/modal.js')
script(src='/bower_components/bootstrap/js/dist/scrollspy.js')
script(src='/bower_components/bootstrap/js/dist/tab.js')
script(src='/bower_components/bootstrap/js/dist/tooltip.js')
script(src='/bower_components/bootstrap/js/dist/popover.js')
<!-- endbuild -->

<!-- build:js scripts/main.js -->
script(src='scripts/main.js')
<!-- endbuild -->
