head
  meta(charset='utf-8')
  meta(name='description' content='Product Page from Pug')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Mindtree - Light CMS Option - Included
  link(rel='stylesheet' href='styles/main.css')
  script(src='/bower_components/modernizr/modernizr.js')