doctype html
html(class='no-js' lang='en-US')
  include _head.pug
  body
    include _top.nav
    div(class='container')
      p ...
      h1 Product Page using Pug

      p This is a dynamically generated page

      include _dynamicProds.pug

      include _footer.pug